.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #6a6c6d;
    gap: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
    margin: 0.5rem 0;
    width: 8rem;
}

.link:hover {
    color: rgba(56, 204, 119, 1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: var(--white);
    border-radius: 30px;
    width: 10rem;
    justify-content: space-around;
}

.link:hover>div>.menu-Item-card-link_text {
    color: rgba(56, 204, 119, 1) !important;
}

.link:hover>div>.menu-Item-card-icon {
    color: rgba(56, 204, 119, 1) !important;
}

.menu-Item-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 4rem;
    width: 8rem;
}

.menu-Item-card-link_text {
    font-size: 1.1rem;
}